<!DOCTYPE html>
<html>
    <body>
        <div>
            <img src="" alt="web3academy logo" style="width: 150px; height: auto;" />
            <h1>Web3Academy</h1>
        </div>
        <div style="text-align: center;">
            <h3><% fullName %></h3>
            <p>has successfully completed the cohort</p>
            <h3><% cohortName %></h3>
            <p>on</p>
            <h3><% completionDate %></h3>
            <p>Grade: <% grade %></p>
        </div>
        <footer>
            <p>Signed, Web3Academy</p>
            <p>Date: <% issueDate %></p>
        </footer>
    </body>
</html>