<!DOCTYPE html>
<html>
    <body>
        <h2>Course Registration Successful</h2>
        <p>Hi <%= name %>,</p>
        <p>Your registration for the course: <strong><%= courseName %></strong> has been approved</p>
        <p>We’re excited to have you onboard!</p>
        <p>Best,<br/>Admin</p>
    </body>
</html>
