<!DOCTYPE html>
<html>
    <body>
        <h2>Your One-Time Password (OTP)</h2>
        <p>Hello,</p>
        <p>Your OTP code is: <strong><%= otp %></strong></p>
        <p>This code will expire in 10 minutes. Do not share it with anyone.</p>
        <p>Thanks,<br/>Gideon From web3 Academy</p>

        <span>If you didn't request for this please kindly ignore</span>
    </body>
</html>
