<!DOCTYPE html>
<html>
    <body>
        <h2>Program Removal Notice</h2>
        <p>Dear <%= name %>,</p>
        <p>We regret to inform you that you have been removed from the program: <strong><%= programName %></strong>.</p>
        <p>If you believe this was in error, please contact support.</p>
        <p>Best,<br/>Academic Affairs</p>
    </body>
</html>